<mat-toolbar>
    <button mat-button routerLink="/scenes">Back</button>
    <div class="spacer"></div>
    <span *ngIf="currentScene != null">Scene {{currentScene.name}}</span>
</mat-toolbar>

<app-progressor [enabled]="loading"></app-progressor>

<mat-drawer-container class="layer-view">
    <mat-drawer mode="side" opened class="layer-view-sidebar">
        <app-scene-view-layers (onLayerSelect)="onLayerSelect($event)"></app-scene-view-layers>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>