<mat-toolbar>
    <!-- Tools selector -->
    <mat-button-toggle-group 
        [(ngModel)]="selectedToolName" 
        (change)="onToolChange($event)">
        
        <mat-button-toggle value="draw">Draw</mat-button-toggle>
        <mat-button-toggle value="erase">Erase</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- Color selector -->
    <mat-form-field>
        <mat-label>Drawing color</mat-label>
        <input matInput [(ngModel)]="colorPickerSelected" [mtxColorpicker]="picker" [format]="colorPickerFormat">
        <mtx-colorpicker-toggle matSuffix [for]="picker"></mtx-colorpicker-toggle>
        <mtx-colorpicker #picker></mtx-colorpicker>
    </mat-form-field>

    <mat-spinner *ngIf="saving" [diameter]="50"></mat-spinner>
</mat-toolbar>

<app-progressor [enabled]="loading"></app-progressor>

<app-canvas #staticLayerCanvas
            [data]="colorData"></app-canvas>