<h1 mat-dialog-title>Create a layer</h1>
<div mat-dialog-content>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Scene name</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Scene ID</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>